# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Laborki\Metody Numeryczne\Projekty\Lab 27_11_2020\Wykres_Funkcji\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
